# datetime

In [1]:
from datetime import datetime
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2020, 9, 7, 10, 39, 17, 519559)

In [3]:
type(now)

datetime.datetime

In [5]:
y = now.year ; print(y)
print (now.month)
print (now.day)

2020
9
7

In [7]:
now.weekday()

0

In [8]:
print (str(now.month) + "-" + str(now.day) + "/" + str(now.year))

9-7/2020

In [9]:
print (str(now.hour) + ":" + str(now.minute) + ":" + str(now.second))

10:39:17

# to_datetime

In [11]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [15]:
p = pd.to_datetime(df) ; p

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [16]:
pd.to_datetime('20200901', format='%Y%m%d', errors='ignore') #ok

Timestamp('2020-09-01 00:00:00')

In [62]:
pd.to_datetime('200901', format='%y%m%d', errors='ignore') #ok

Timestamp('2020-09-01 00:00:00')

In [23]:
d = pd.to_datetime('2020-09-01', format='%Y%m%d', errors='ignore') # no
type(d)

str

In [26]:
d = pd.to_datetime('2020-09-01', format='%Y-%m-%d', errors='ignore') # yes
d

Timestamp('2020-09-01 00:00:00')

In [28]:
type(d)

pandas._libs.tslibs.timestamps.Timestamp

- 데이터프레임의 유용한 함수
 - asfreq()
 - resample()

# date_range

In [54]:
d = pd.date_range(start='1/1/2020', end='12/31/2020')

import numpy as np
df = pd.DataFrame(d)
df['y'] = np.random.rand(len(df)); df

             0         y
0   2020-01-01  0.660393
1   2020-01-02  0.661971
2   2020-01-03  0.739674
3   2020-01-04  0.169482
4   2020-01-05  0.316112
..         ...       ...
361 2020-12-27  0.531368
362 2020-12-28  0.747048
363 2020-12-29  0.937609
364 2020-12-30  0.361346
365 2020-12-31  0.368206

[366 rows x 2 columns]

In [30]:
pd.date_range(start='1/1/2020', periods=8)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range(end='1/1/2020', periods=8)

DatetimeIndex(['2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
               '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(start='2020-09-01', end='2020-09-10', periods=3)

DatetimeIndex(['2020-09-01 00:00:00', '2020-09-05 12:00:00',
               '2020-09-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [39]:
p = pd.date_range(start='2020-09-01', end='2020-09-10', periods=19)
p

DatetimeIndex(['2020-09-01 00:00:00', '2020-09-01 12:00:00',
               '2020-09-02 00:00:00', '2020-09-02 12:00:00',
               '2020-09-03 00:00:00', '2020-09-03 12:00:00',
               '2020-09-04 00:00:00', '2020-09-04 12:00:00',
               '2020-09-05 00:00:00', '2020-09-05 12:00:00',
               '2020-09-06 00:00:00', '2020-09-06 12:00:00',
               '2020-09-07 00:00:00', '2020-09-07 12:00:00',
               '2020-09-08 00:00:00', '2020-09-08 12:00:00',
               '2020-09-09 00:00:00', '2020-09-09 12:00:00',
               '2020-09-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [40]:
type(p)

pandas.core.indexes.datetimes.DatetimeIndex

In [41]:
pd.date_range(start='1/1/2018', periods=5, freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
pd.date_range(start='1/1/2018', periods=5, freq='3M')

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [43]:
pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [63]:
# 연간 주차수
d='2020-09-08'
test=pd.to_datetime(d)
test.isocalendar()[1]

37